<br>
<h2>Voilà les information de cet utilisateur mes amis</h2>
<br>
<ul class="list-group">
  <li class="list-group-item list-group-item-primary">Son prénom est "<%= @user.first_name %>"</li>
  <li class="list-group-item list-group-item-secondary">Son nom est "<%= @user.last_name %>"</li>
  <li class="list-group-item list-group-item-success">Description: <%= @user.description %></li>
  <li class="list-group-item list-group-item-danger">Email: <%= @user.email %></li>
  <li class="list-group-item list-group-item-warning">Il a <%= @user.age %> ans</li>
  <li class="list-group-item list-group-item-primary">Il vit à <%= @user.city.name %></li>
</ul>
