<br>
<h2>Liste des gossips de <%= @city.name %></h2>
<br>

<div class="list-group">
  <% @city.users.each do |user| %>
    <% user.gossips.each do |gossip| %>
      <a href="../gossips/<%= gossip.id %>" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= gossip.title %></h5>
          <small><%= gossip.updated_at %></small>
        </div>
        <p class="mb-1"><%= gossip.content %></p>
        <small>par <%= gossip.user.first_name %></small>
      </a>
    <% end %>
  <% end %>
</div>
